#principal{
    width: 900px;
    height: auto; overflow: hidden;
    border: 1px solid rgb(248, 247, 247);
    margin: auto;
    background: #1a51ec;

}
header{
    width: 900px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
}
#logo{
    width: 350px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    float: left;
    background: #486bea;
    color: rgb(250, 250, 250);
}

footer{
    width: 900px;
    height:100px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255) ;
    background: #486bea;
    text-align: center;
    color: rgb(250, 250, 250);
}
#footer p{
    width: 1000px;
    height:500px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255) ;
    background: #486bea;
    text-align: center;
    color: rgb(250, 250, 250);

}