@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    background-image: url(../../../Framework/Public/images/fondoSes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-box{
    white: 258px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}
.titulo{

}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#principal{
    width: 900px;
    height: auto; overflow: hidden;
    border: none;
    margin: auto;
    background: none;

}

#logo{
    width: 350px;
    height: 100px;
    border: none;
    float: left;
    background: none;
    color: rgb(250, 250, 250);
}
.menu{
    width: 460px;
    height: 40px;
    border: none;
    float: right;
    margin-top: 40px;
    background: none;
}


.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    border: 0px solid rgb(255, 255, 255);
    color: rgb(250, 250, 250);
}
.menu ul li a:hover{
    background: #4caf50;
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}
.btn:hover{
    background: #4caf50;
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}


footer{
    width: 900px;
    height:100px;
    text-align: center;
    border: none ;
    background: none;
    text-align: center;
    color: rgb(250, 250, 250);
}
#footer p{
    width: 1000px;
    height:500px;
    text-align: center;
    border: none ;
    background: none;
    text-align: center;
    color: rgb(250, 250, 250);

}