body{
    background-image: url(../../../Framework/Public/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
#principal{
    width: 900px;
    height: auto; overflow: hidden;
    border: 1px solid rgb(248, 247, 247);
    margin: auto;
    background: #1a51ec;

}
 header{
    width: 900px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
}
#logo{
    width: 350px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    float: left;
    background: #486bea;
    color: rgb(250, 250, 250);
}
img:hover{
    transform: scale(0.95);
    transition: all 0.5s linear;
    border-radius: 30px;
}
.menu{
    width: 460px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    float: right;
    margin-top: 40px;
    background: #486bea;
}


.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    border: 0px solid rgb(255, 255, 255);
    color: rgb(250, 250, 250);
}
.menu ul li a:hover{
    background: rgb(143, 138, 138);
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}

#slide{
    margin-top: 2px;
    width: 900px;
    height: 350px;
}


#categorias{
    width: 900px;
    height: auto; overflow: hidden;
    border: 1px solid;
    margin-top: 15px;
}

.uno{
    width: 280px;
    height:auto; overflow: hidden;
    border: 1px solid rgb(255, 255, 255) ;
    float: left;
    background: #486bea;
    color: rgb(250, 250, 250);
    padding: 5px;
    text-align: center;
    float: center;
}
.dos{
    margin-left: 11px;
    margin-right: 11px;
    float: center;
}
.leer-mas{
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    color: rgb(3, 27, 183);
    margin: 10px;
}
.leer-mas:hover{
    background: rgb(143, 138, 138);
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}

#info{
    width: 900px;
    height:auto; overflow: hidden;
    border: 1px solid rgb(255, 255, 255) ;
}

footer{
    width: 900px;
    height:100px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255) ;
    background: #486bea;
    text-align: center;
    color: rgb(250, 250, 250);
}
#footer p{
    width: 1000px;
    height:500px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255) ;
    background: #486bea;
    text-align: center;
    color: rgb(250, 250, 250);

}
.leer-mas{
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    margin: 10px;
}
.leer-mas:hover{
    background: rgb(143, 138, 138);
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}