body{
    background-image: url(../../../Framework/Public/images/AdminFon.jpg);
    font-family: monospace;
}
.container-table{
    width: 90%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #4caf50;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50px;
}
.table-title{
    grid-column-start: 1;
    grid-column-end: 5;

    background: #4caf50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}
.table__heder,.table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__heder{
    font-weight: bold;
    font-size: 1.5em;
}
.table__item{
    padding: 10px;
    font-size: 1.2em;
}