/*ESTILOS DE INICIO DE ADMINISTRADOR*/
body {
    background-image: url(../../../Framework/Public/images/AdminFon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;


    height: 100vh;
}
/*PARTE SUPERIOR E INFERIOR*/
.login-box{
    white: 200px;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(50%,50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}


#principal{
    width: 900px;
    height: auto; overflow: hidden;
    border: none;
    margin: auto;
    background: none;

}

#logo{
    width: 350px;
    height: 100px;
    border: none;
    float: left;
    background: none;
    color: rgb(250, 250, 250);
}
.menu{
    width: 460px;
    height: 40px;
    border: none;
    float: right;
    margin-top: 40px;
    background: none;
}


.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    border: 0px solid rgb(255, 255, 255);
    color: rgb(250, 250, 250);
}
.menu ul li a:hover{
    background: #4caf50;
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}
.btn:hover{
    background: #4caf50;
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}


footer{
    width: 900px;
    height:100px;
    text-align: center;
    border: none ;
    background: none;
    text-align: center;
    color: rgb(250, 250, 250);
}
#footer p{
    width: 1000px;
    height:500px;
    text-align: center;
    border: none ;
    background: none;
    text-align: center;
    color: rgb(250, 250, 250);

}
/*PARTE DE BOTONES*/
.cento{
    justify-content: center;
    align-content: center;
}
.btns{
    background:#4caf50;

    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    border: 2px solid #4caf50;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btns:hover{
    background: #4caf50;
    box-shadow: 0 0 10px #4caf50, 0 0 40px;

}
.btns span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
}
.btn:hover #span1{
    left: 100%;
    transition: 2s;
}
#span3{
    top: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,white);
}
.btn:hover #span1{
    right: 100%;
    transition: 2s;
}